<!--&lt;!&ndash; Navigation &ndash;&gt;-->
    <!-- Navigation -->



        <!--<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #008ae6;" role="navigation">-->
            <!--<div class="container-fluid">-->

                <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
                <!--<div class="navbar-header">-->
                    <!--<button type="button" class="navbar-toggle" data-toggle="collapse"-->
                            <!--data-target="#bs-example-navbar-collapse-1">-->
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                        <!--<span class="icon-bar"></span>-->
                    <!--</button>-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a class="glyphicon glyphicon-home" style="color: #ffffff;" href="/"></a></li>-->
                         <!--<li><a class="navbar-brand" style="color: #ffffff; " href="#">Home Automation - Check Temperature and Humidity instantly</a></li>-->
                        <!--<li><a class="navbar-brand" style="color: #ffffff;" href="/watch">Watch </a></li>-->
                        <!--&lt;!&ndash;<li><a href="#" style="color: #ffffff; "><span class="glyphicon glyphicon-log-in" style="color: #ffffff; "></span> Login</a></li>&ndash;&gt;-->
                        <!--<li><a href="#" style="color: #ffffff; "><span class="glyphicon glyphicon-log-out" style="color: #ffffff; "></span> Logout</a></li>-->
                    <!--</ul>-->
                <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; /.container &ndash;&gt;-->
        <!--</nav>-->

<nav class="navbar navbar-inverse navbar-light navbar-fixed-top" style="background-color: #008ae6;" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/live">Home Automation</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/live"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/watch">Video Streaming</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>